.car {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.car__pictures img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.order__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.car__description {}

.car__description h3 {
    color: #1A1A1A;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 15px;
    margin: 0 0 10px 0;
}

.car__description-cost {
    color: #1A1A1A;
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
    margin: 0 0 35px 0;
}

.car__description-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 5px;
}

.car__description-row:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 8px;
    border: 1px dashed rgba(0, 0, 0, 0.60);
}

.car__description-item {
    padding: 5px 15px;
    z-index: 1;
    background-color: #f0f8ff;
}