.content {
    padding: 100px 0;
    background-image: url('../img/content/delivery/delivery-pattern.webp');

    @include vp-767 {
        padding: 40px 0;
    }
}

.content__title {
    color: #1A1A1A;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 30px 0;
}

.content__text {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 770px;
    margin-bottom: 60px;
}