.contact {
    font-weight: 700;
    display: flex;
    gap: 20px;

    @include vp-1200 {
        display: block;
    }

    span {
        @include vp-1200 {
            display: none;
        }
    }
}

.contact__link {
    display: block;
    color: $color-default-white;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
    transition: color 0.3s ease-in;

    @include vp-1200 {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.contact__link:hover {
    color: $color-red;
}

.contact--footer {
    margin-bottom: 10px;
}

.contact--footer a {
    font-size: 20px;
}

.contact__wrapper {
    display: none;

    @include vp-1200 {
        display: block;
    }
}

.contact__address {
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-top: 20px;
    pointer-events: none;
}

.contact__btn {
    border: 1px solid $color-red;
    background-color: $color-red;
    color: $color-default-white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;

    @include vp-1200 {
        display: block;
        margin: 25px 0 15px;
    }
}

.contact__btn:hover {
    background-color: $color-default-white;
    color: $color-red;
}