.decor-section {
    padding: 70px 0;
    position: relative;
}

.decor-section-line {
    position: absolute;
    top: 50%;
    right: 0;
    height: 10px;
    width: 0;
    background-color: red;
    transition: all 0.3s ease;
}