.delivery {
    padding: 100px 0;
    background-color: $color-default-black;
    color: $color-default-white;

    @include vp-767 {
        padding: 40px 0;
    }
}

.delivery__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
    margin-bottom: 30px;

    @include vp-767 {
        gap: 20px;
    }
}

.delivery__link {
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease;
    padding-right: 25px;
    color: $color-default-white;
}

.delivery__link:before {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 8px;
    height: 15px;
    background-image: url('../img/arrow-mini.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.delivery__link:hover {
    color: $color-red;
}

.delivery__item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    img {
        margin-bottom: 30px;
    }

    p {
        color: $color-default-white;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.delivery__wrapper {
    width: 740px;
    height: 440px;
    margin: 0 auto;

    @include vp-767 {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}