.exclusive {
    padding: 70px 0;
    background-color: $color-default-black;
}

.exclusive__item {
    padding: 25px;
    background-color: $color-dark-gray;
    color: white;
    border-radius: 25px;
    height: auto;
}

.exclusive__item img {
    margin: 0 auto;
    padding: 50px 0;
}

@media (min-width: 1200px) {
    .exclusive__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}