.first {
    background-image: url('../img/bg/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
}

.first--bg-2 {
    background-image: url('../img/bg/bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.first__title {
    color: $color-default-white;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    max-width: 480px;
    margin: 0 0 30px 0;
}

.first__text {
    color: $color-default-white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    max-width: 355px;
    margin: 0 0 30px 0;
}