.form-wrapper {
    color: #fff;

    p {
        margin: 0 0 15px 0;
        color: rgba(255, 255, 255, 0.50);
    }
}

.form-wrapper * {
    outline: none;
}

.form__body {
    position: relative;
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url("loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0px 0px 30px 0px;
}

.form__item {
    margin: 0px 0px 20px 0px;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input {
    height: 50px;
    padding: 0px 20px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    border-bottom: 2px solid $color-red;
    background-color: $color-default-black;
    color: $color-default-white;
}

.form__input:focus {
    box-shadow: 0 0 15px $color-red;
}

.form__input._error {
    box-shadow: 0 0 15px red;
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

.options {
    padding: 10px 0px 0px 0px;
}

.options__item {
    margin: 0px 0px 10px 0px;
}

.options__input {
    display: none;
}

.options__input:checked+.options__label::after {
    transform: scale(1);
}

.options__label {
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.options__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}

.options__label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #C5AC2D;
    border-radius: 50%;
    transform: scale(0);
}



.checkbox._error .checkbox__label::before {
    box-shadow: 0 0 15px red;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked+.checkbox__label::after {
    transform: scale(1);
}

.checkbox__label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.checkbox__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #262526;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #e68a00;
}

.checkbox__label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #C5AC2D;
    border-radius: 4px;
    transform: scale(0);
}

.checkbox__label a {
    color: #C5AC2D;
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: $color-red;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 3px 0 #161b13;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}

.form__button:active {
    top: 3px;
    box-shadow: 0 2px 0 #161b13;
}

.content-form {

    margin-top: 60px;
    margin-bottom: 100px;

    .form-section {
        background-color: #333;
        padding: 40px 60px 54px;
        border-radius: 25px;

        @include vp-767 {
            padding: 40px 15px 54px;
        }
    }

    .form-inner {
        display: flex;
        align-items: center;
        justify-content: normal;
        flex-wrap: wrap;
    }

    .form__item {
        margin-bottom: 25px;
        margin-right: 30px;

        @include vp-1200 {
            margin-bottom: 25px;
        }

        @include vp-767 {
            margin-bottom: 25px;
            display: flex;
            width: 100%;
            margin-right: 0;
        }
    }

    .form__input {
        background-color: #333;
    }

    textarea.form__input {
        min-height: 20px;
        resize: vertical;
        padding: 0 20px;
    }

    .form__button {
        max-width: 295px;
        min-height: 50px;
        top: -15px;

        @include vp-767 {
            top: -2px;
            min-width: 100%;
        }
    }

    .form__title {
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }

    .form__sub-title {
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 45px;
    }
}

.popup-form {
    .form__input {
        background-color: #fff;
        color: $color-default-black;
        border-color: transparent;
        border-bottom: 2px solid #c81010;
    }

    .form__title {
        color: #1A1A1A;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
    }

    .form__sub-title {
        color: rgba(0, 0, 0, 0.60);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 70%;
    }
}