.header {
  position: fixed;
  background: transparent;
  min-height: 100px;
  left: 0;
  width: 100%;
  top: 0;
  color: $color-default-white;
  display: flex;
  align-items: center;
  z-index: 99;

  @include vp-1200 {
    min-height: 62px;
    position: fixed;
    background: $color-quartz;
  }
}

.logo.logo--mobile {
  display: none;

  @include vp-1200 {
    display: block;
    margin-bottom: 0;
    margin-left: 25px;
  }
}

.header-fixed {
  position: fixed;
  background-color: $color-quartz;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 5px 20px -5px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.4s ease-in;

  @include vp-1200 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 400px;
    padding: 100px 25px 20px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: $color-shaft;
    overflow: auto;
  }

  @include vp-575 {
    width: 100%;
  }
}

.header__wrapper.is-active {
  transform: translateX(0);
}

.page--lock::before {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}