.hero {
    position: relative;

    .swiper-pagination-bullets {
        bottom: 45px;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-color: #fff;
        opacity: 1;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-red;
    }
}

.hero__slider {
    height: 100vh;

    @include vp-1200 {
        height: 380px;
    }
}

.hero__item {
    background-color: #dbd4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
    z-index: 1;
}

.hero__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__link {
    border: 1px solid $color-red;
    background-color: $color-red;
    color: $color-default-white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    z-index: 1;
    margin-top: 20%;

    @include vp-1200 {
        margin-top: 0;
    }
}

.hero__link:hover {
    background-color: $color-default-white;
    color: $color-red;
}

.hero__inner {
    z-index: 1;
}

.hero__title {
    @include adaptiv-value("font-size", 46, 30, 1);
    z-index: 1;
    color: #fff;
    line-height: 1.1;
}