.hero {
    position: relative;

    @include vp-1200 {
        margin-top: 62px;
    }

    .swiper-pagination-bullets {
        bottom: 45px;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-color: #fff;
        opacity: 1;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-red;
    }
}

.hero__slider {
    height: 100vh;
}

.hero__item {
    background-color: #dbd4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__link {
    border: 1px solid $color-red;
    background-color: $color-red;
    color: $color-default-white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    z-index: 1;
    margin-top: 30%;

    @include vp-767 {
        margin-top: 60%;
    }
}

.hero__link:hover {
    background-color: $color-default-white;
    color: $color-red;
}