.in-stock {
    padding: 70px 0;
    background-color: $color-default-black;
    color: $color-default-white;

    img {
        border-radius: 25px;

        @include vp-575 {
            max-height: 320px;
        }
    }
}

.in-stock__wrapper {
    position: relative;

    background-image: url('../img/content/in-stock/bg-japan.png');
    background-repeat: no-repeat;
    background-position: center right;


    @include vp-575 {
        min-height: 600px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
        margin-bottom: 30px;
        font-size: 22px;
        text-align: left;

        @include vp-767 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .swiper-pagination {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 62%;

        @include vp-767 {
            top: 15%;
        }

        @include vp-575 {
            top: 70%;
            left: 10%;
        }
    }

    .swiper-pagination-bullet {
        width: 140px;
        text-align: center;
        border-radius: 0;
        height: 10px;
        box-sizing: border-box;
        opacity: 0.6;
        margin-bottom: 15px;
        background: transparent;
        transition: color 0.3s ease;
    }

    .swiper-pagination-bullet:hover {
        color: $color-red;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        position: relative;
        background-color: transparent;
        opacity: 1;
    }

    .swiper-pagination-bullet-active::before {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        height: 3px;
        width: 30px;
        background-color: $color-red;
    }
}

.in-stock__slider {
    width: 60%;
    overflow: hidden;

    @include vp-575 {
        width: 100%;
    }
}

.in-stock__title-japan {
    font-size: 36px;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 62%;

    img {
        margin-left: 20px;
    }

    @include vp-767 {
        font-size: 24px;
    }

    @include vp-575 {
        top: 60%;
        left: 10%;
    }
}

// ====================================================================================================

.in-stock__inner {
    margin-top: 80px;
    position: relative;

    background-image: url('../img/content/in-stock/bg-korea.png');
    background-repeat: no-repeat;
    background-position: center left;

    @include vp-575 {
        min-height: 600px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
        margin-bottom: 30px;
        font-size: 22px;
        text-align: left;

        @include vp-767 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .swiper-pagination {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        left: 25%;
        max-width: 250px;

        @include vp-1200 {
            left: 20%
        }

        @include vp-767 {
            top: 15%;
            left: 10%;
        }

        @include vp-575 {
            top: 70%;
            left: 10%;
        }
    }

    .swiper-pagination-bullet {
        width: 140px;
        text-align: center;
        border-radius: 0;
        height: 10px;
        box-sizing: border-box;
        opacity: 0.6;
        margin-bottom: 15px;
        background: transparent;
        transition: color 0.3s ease;
    }

    .swiper-pagination-bullet:hover {
        color: $color-red;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        position: relative;
        background-color: transparent;
        opacity: 1;
    }

    .swiper-pagination-bullet-active::before {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        height: 3px;
        width: 30px;
        background-color: $color-red;
    }

}

.in-stock__slider-reverse {
    width: 60%;
    margin-left: auto;
    overflow: hidden;

    @include vp-575 {
        width: 100%;
    }
}

.in-stock__title-korea {
    font-size: 36px;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 15%;

    img {
        margin-left: 20px;
    }

    @include vp-1200 {
        left: 0
    }

    @include vp-767 {
        font-size: 24px;
    }

    @include vp-575 {
        top: 60%;
        left: 10%;
    }
}