.order {
    padding: 70px 0;
    background-color: aliceblue;
}

.order__block {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.order__block._active {
    opacity: 1;
}

.order__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.order__btn {
    margin-right: 30px;
    cursor: pointer;
}

.order__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;

    @include vp-1200 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @include vp-575 {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.order__item {
    position: relative;
}

.order__item-name {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: $color-default-white;
    font-size: 18px;
}

.order__item-img {
    overflow: hidden;
}

.order__item-img:hover {
    img {
        transform: scale(1.05);
    }
}

.order__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.order__link {
    display: block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}