body.lock {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 100;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}

.popup__content {
    background-color: grey;
    color: #fff;
    max-width: 800px;
    padding: 20px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    border: 1px solid orange;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup__close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    text-decoration: none;
    background-color: grey;
    transition: all 0.2s ease 0s;
}

.popup__close:hover {
    transform: rotate(90deg);
}

.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}