.steps {
    padding: 100px 0;
    background: $color-default-black;
    background-image: url('../img/bg/bg-1.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.steps__progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
}

.steps__progress-success {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    background: $color-red;
    transition: all 0.2s ease;
}

.steps__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    max-width: 950px;
    color: #fff;


    @media (max-width: 1200px) {
        gap: 60px;
    }

    @media (max-width: 767px) {
        max-width: 450px;
        gap: 30px;
    }

    @media (max-width: 460px) {
        max-width: 100%;
        gap: 25px;
    }
}

.step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    background: #333;
    z-index: 1;
    transition: all 0.6s ease;

    @media (max-width: 1200px) {
        width: 50px;
        height: 50px;
    }

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }

    @media (max-width: 460px) {
        width: 30px;
        height: 30px;
    }
}

.step__number--active {
    background: $color-red;
    border: transparent;
}

.steps__item {
    display: none;
    padding: 80px 0 50px;
    min-height: 200px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.steps__item-title {}

.steps__item-text {
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.60);
}

.steps__item.active {
    display: block;
}

.steps__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step__button {
    border: 1px solid $color-red;
    border-radius: 4px;
    padding: 10px;
    min-width: 120px;
    color: white;
    background-color: $color-red;
    font-family: inherit;
    font-size: 16px;
    margin-right: 30px;
    transition: all 0.3s ease;

    @media (max-width: 460px) {
        margin-right: 20px
    }
}

.steps__list {
    margin: 0;
    padding: 0;
}

.step__button {
    cursor: pointer;
}

.step__button:disabled {
    background-color: #333;
    border-color: rgba(255, 255, 255, 0.40);
    color: rgba(255, 255, 255, 0.40);
    cursor: default;
}