.steps {
    padding: 150px 0;
    background-color: #3d4b55;
}

.steps h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
}

.steps__progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
}

.steps__progress-success {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    background: orange;
    transition: all 0.2s ease;
}

.steps__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
    max-width: 950px;
    color: #fff;


    @media (max-width: 1200px) {
        gap: 60px;
    }

    @media (max-width: 767px) {
        max-width: 450px;
        gap: 30px;
    }

    @media (max-width: 460px) {
        max-width: 100%;
        gap: 25px;
    }
}

.step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background: #3d4b55;
    z-index: 1;
    transition: all 0.6s ease;

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }

    @media (max-width: 460px) {
        width: 30px;
        height: 30px;
    }
}

.step__number--active {
    background: orange;
    border: transparent;
}

.steps__item {
    display: none;
    padding: 50px 0;
    min-height: 200px;
    font-size: 24px;
    color: #ffffff;
}

.steps__item-title {}

.steps__item-text {
    font-size: 18px;
    line-height: 1.2;
}


.steps__item.active {
    display: block;
}

.step__button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    min-width: 120px;
    color: white;
    background-color: orange;
    font-family: inherit;
    font-size: 16px;
    margin-right: 30px;
    transition: all 0.3s ease;

    @media (max-width: 460px) {
        margin-right: 20px
    }
}

.steps__list {
    margin: 0;
    padding: 0;
}

.step__button {
    cursor: pointer;
}

.step__button:disabled {
    opacity: 0.7;
    cursor: none;
}