// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";
@import "keyframes";

// Blocks
// ---------------------------------
@import "blocks/page";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/toggle-btn";
@import "blocks/title";
@import "blocks/contact";
@import "blocks/scroll-top";
@import "blocks/hero";
@import "blocks/exclusive";
@import "blocks/order";
@import "blocks/steps";
@import "blocks/popup";
@import "blocks/footer";
// ---------------------------------